<%= simple_form_for :query, url: posts_path, method: :get do |f| %>
  <div class="input-group">
    <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher des articles"
          %>
    <div class="input-group-append">
      <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
