<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('bg.jpg') %>);">
  <div class="container">
    <h1>Bienvenue sur notre Hub d'Informations !</h1>
    <p>Explorez et contribuez à une plateforme où vous pouvez publier et discuter d'articles informatifs.</p>
    <%= render "shared/search" %>
    <div class="text-center mt-3">
      <%= link_to "Tous les articles", posts_path, class: 'btn btn-primary mb-3' %>
    </div>
  </div>
</div>


<div class="container text-center mt-3">
  <h2>Notre sélection d’articles</h2>
</div>

<%= render "shared/post" %>
